<section id="add-game">
    <form  [formGroup]="form" class="add-game" method="post"  (ngSubmit)="addGame()">
        <h2>Add new game</h2>
        <label for="name">Name of the game</label>
        <input type="text" name="name" formControlName="name">
        <label for="description">Description</label>
        <textarea name="description" id="" cols="40" rows="7" formControlName="description"></textarea>
        <label for="imageUrl">imageUrl</label>
        <input type="text" name="imageUrl" formControlName="imageUrl" >
        <button>ADD</button>
    </form>
</section>