#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:150px auto;
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    height: 500px;
    
    justify-content: space-around;
}

.register-input{
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    width: 65%;
}

#register-form{
    display: flex;
    flex-direction: column;
   justify-content: space-around;
    align-items: center;
  height: 500px;
}

.btnSubmit{
    width: 20%;
    cursor:pointer;
}