<header id="header" class="header">
    <nav id="nav" class="nav">
        <ul class="nav-logo">
            <li id="logo">
                <a routerLink="/home" >LOGO</a>
            </li>
        </ul>
        <ul id="nav-ul" class="nav-ul">
            <li>
                <a routerLink="/home" >Home</a>
            </li>
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/register">Register</a>
            </li>
            <li>
                <a>Logout</a>
            </li>
        </ul>
    </nav>
</header>