<div id="home" class="home">
    <section id="section-home">
        <h1>HOME PAGE</h1>
        <h2 id="h2">This is a site for fans of computer games. You can register on the site and add your favorite game and see
            how
            many of our users will like your favorite game, if you choose you can edit or delete it. If you do not
            register
            you will be able to view the games of our registered users and see how many times they are liked. Welcome!
        </h2>
    </section>
</div>